<div class="bottom-container">
<!--
  <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
  <a class="footer-link" href="https://twitter.com/">Twitter</a>
  <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
-->
  <p style="margin-bottom: 0px;color: #eaf6f6;">© <%= year%> Mykola Liubachenko</p>
  <a href="https://www.linkedin.com/in/mykola-liubachenko/" alt="Linkedin"><i class="fab fa-linkedin fa-2x"></i></a>
  <a href="https://github.com/pluto-git" alt="GitHub"><i class="fab fa-github fa-2x"></i></a>


</div>
  </body>
</html>
