<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="A personal site of Mykola Liubachenko.">
    <meta name="author" content="Mykola Liubachenko">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="images/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <title>Mykola's site</title>
  </head>
  <body>
    <div class="top-container">
      <img class="top-cloud" src="images/cloud.png" alt="a cloud image">
      <h1>I'm Mykola.</h1>
      <h2 class="programmer">a <span>dev</span>eloper</h2>
      <img class="bottom-cloud" src="images/cloud.png" alt="a cloud image">
      <!-- <img src="images/mountain.png" alt="a mountain image"> -->
    </div>
