
<%- include("partials/header.ejs") -%>
<div class="middle-container">
<div class="profile">
  <img  class="profile-class" src="images/profile-circled.png" alt="Mykola's profile">
  <h2>Hello.</h2>
  <p class="intro">I am a Web developer. In love with fantasy books and warm places😊! </p>
</div>
<hr>
<div class="skills">
  <h2>My Skills.</h2>
  <table class="table">
    <tbody>
      <tr>
        <td scope="row">HTML5</td>
        <td class="star">⭐⭐⭐⭐⭐</td>
        <td >Bootstrap </td>
        <td class="star">⭐⭐⭐⭐</td>
      </tr>
      <tr>
        <td scope="row">CSS3</td>
        <td class="star">⭐⭐⭐⭐</td>
        <td>React </td>
        <td class="star">⭐⭐⭐</td>
      </tr>
      <tr>
        <td scope="row">Javascript</td>
        <td class="star">⭐⭐⭐⭐</td>
        <td>MongoDB </td>
        <td class="star">⭐⭐⭐</td>
      </tr>
      <tr>
        <td scope="row">Node.js (via Express)</td>
        <td class="star">⭐⭐⭐⭐</td>
        <td>MySQL </td>
        <td class="star">⭐⭐⭐</td>
      </tr>
      <tr>
        <td scope="row">git</td>
        <td class="star">⭐⭐⭐⭐</td>
        <td>C</td>
        <td class="star">⭐⭐</td>
      </tr>
    </tbody>
  </table>

  <%# <div class="skill-row">
    <img class="dev-img" src="images/development.png" alt="a dev skill">
    <h3>Development</h3>
    <p>Creating new things is fun! It gives me satisfaction.</p>
  </div>
  <div class="skill-row">
    <img class="swimming-img" src="images/swimming.png" alt="a swimming skill">
    <h3>Swimming</h3>
    <p>In love with water. Started loving it from my childhood</p>
  </div> %>
</div>
<hr>
<div class="contact-me">
  <h2>Projects</h2>
  <p>
    <a href="https://github.com/pluto-git" target="_blank" alt="GitHub">Check GitHub for that!</a>
  </p>
</div>
<div class="contact-me">
  <h2>Get In Touch</h2>
  <h3>Looking for new interesting projects or opportunities</h3>
  <p>Have suggestions? Let's talk about it!</p>
  <a class="btn" href="mailto:liubachenko.m@gmail.com">CONTACT ME</a>
</div>
<hr />
</div>
<%- include("partials/footer.ejs") -%>
