
<%- include("partials/header.ejs") -%>
<div class="middle-container">
<div class="profile">
  <img  class="profile-class" src="images/profile-circled.png" alt="Mykola's profile">
  <h2>Hello.</h2>
  <p class="intro">I am a Web developer. In love with fantasy books and warm places😊! </p>
</div>
<hr>
<%# --------------------------------------------------------SKILLS ----------------------------------%>
<div class="skills">
  <h2>My Skills.</h2>
  <table class="table">
    <tbody>
      <tr>
        <td scope="row">HTML5</td>
        <td class="star">⭐⭐⭐⭐⭐</td>
        <td >Bootstrap </td>
        <td class="star">⭐⭐⭐</td>
      </tr>
      <tr>
        <td scope="row">CSS3</td>
        <td class="star">⭐⭐⭐⭐</td>
        <td>React </td>
        <td class="star">⭐⭐⭐</td>
      </tr>
      <tr>
        <td scope="row">Javascript</td>
        <td class="star">⭐⭐⭐</td>
        <td>MongoDB </td>
        <td class="star">⭐⭐⭐</td>
      </tr>
      <tr>
        <td scope="row">Node.js (via Express)</td>
        <td class="star">⭐⭐⭐</td>
        <td>Command Line Interface </td>
        <td class="star">⭐⭐⭐</td>
      </tr>
      <tr>
        <td scope="row">git</td>
        <td class="star">⭐⭐⭐</td>
        <td>MySQL</td>
        <td class="star">⭐⭐⭐</td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
<%# ------------------------------------------------------PROJECTS AND CONTACT ME ----------------------------------%>
<div class="contact-me">
  <h2>Projects</h2>
  <p>
    <img src="images/noteKeeper.png" alt="a responsive image" class="img-thumbnail"> <br />
    <a href="https://github.com/pluto-git" target="_blank" alt="GitHub">Check GitHub for the NoteKeeper and this website!</a>
  </p>
</div>
<div class="contact-me">
  <h2>Get In Touch</h2>
  <h3>Looking for new interesting projects or opportunities</h3>
  <p>Have suggestions? Let's talk about it!</p>
  <a class="btn" href="mailto:liubachenko.m@gmail.com">CONTACT ME</a>
</div>
<hr />
</div>
<%- include("partials/footer.ejs") -%>
